* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.header__menu--logo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.header__menu--sign-up {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent 2px solid;
  padding: 10px 15px;
  color: #ffffff;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__menu--sign-up:hover {
  border: white 2px solid;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  color: white;
  margin-bottom: 28px;
  z-index: 1;
  margin: 0 10px;
}

.header__head-subtext {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #f7f3f2;
  z-index: 1;
  margin: 30px 10px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  width: 100%;
  text-align: center;
  margin: 0 10px 25px 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  margin-top: 17px;
}

.ideas__block--text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: white;
  text-align: center;
  z-index: 1;
}

.section__create span {
  width: 100%;
  text-align: center;
}

.partner__block--text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
  margin-top: 15px;
  padding: 0 10px;
  text-align: center;
}

.how-works__block--head-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #E3E3E3;
  z-index: 1;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 25px;
  word-wrap: break-word;
  width: 100%;
}

.how-works__block--sub-text {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #E3E3E3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
  margin: 0;
  text-align: justify;
  z-index: 1;
}

.create__sub-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  color: #666666;
  margin: 15px 0;
}

.button--red, .partner__button {
  border-radius: 40px;
  padding: 0 25px;
  border: #ff4e50 2px solid;
  background-color: #ff4e50;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  margin: 5px;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button--red:hover, .partner__button:hover {
  background-color: white;
  color: #ff4e50;
}

.partner__button {
  color: #ff4e50;
  border: #ff4e50 2px solid;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.partner__button:hover {
  background-color: #ff4e50;
  color: white;
}

.create__input {
  height: 40px;
  color: #999999;
  width: 300px;
  border: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid darkgrey;
  border-radius: 4px;
  margin: 5px;
  padding: 0 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.create__input:focus {
  border: #ff4e50 1px solid;
  -webkit-box-shadow: 0 0 5px grey;
          box-shadow: 0 0 5px grey;
}

.how-works__block--button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  padding: 5px 15px;
  margin: 0 0 25px 25px;
  border-radius: 40px;
  border: #ff4e50 2px solid;
  background-color: #ff4e50;
  color: white;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(../img/img-1.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.header__menu {
  z-index: 1;
  position: absolute;
  top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  max-width: 960px;
}

.header {
  z-index: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.color-gradient-mask {
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF4E50), to(#F9D423));
  background: linear-gradient(360deg, #FF4E50 0%, #F9D423 100%);
  mix-blend-mode: normal;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0.1;
  width: 100%;
  height: 100%;
}

.max-width {
  max-width: 960px;
  width: 100%;
}

section,
body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 95px;
}

.how-works__block {
  height: 400px;
  width: calc((100% / 3) - 20px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-size: cover;
  background-position: center top;
}

.bc-gradient-mask {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%);
  mix-blend-mode: normal;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.how-works__block:nth-child(2) {
  background-image: url(../img/img-2.png);
}

.how-works__block:nth-child(3) {
  background-image: url(../img/img-3.png);
}

.how-works__block:nth-child(4) {
  background-image: url(../img/img-4.png);
}

.partner__block {
  width: calc((100% / 4) - 20px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 10px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.partner__block--avtr {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  position: relative;
}

.section__partner .partner__block:nth-child(2) > .partner__block--avtr {
  background-image: url(../img/avt-1.png);
}

.section__partner .partner__block:nth-child(2) > .partner__block--avtr .partner__block--icon {
  background-color: #FF4E50;
}

.section__partner .partner__block:nth-child(3) > .partner__block--avtr {
  background-image: url(../img/avt-2.png);
}

.section__partner .partner__block:nth-child(3) > .partner__block--avtr .partner__block--icon {
  background-color: #19D4CA;
}

.section__partner .partner__block:nth-child(4) > .partner__block--avtr {
  background-image: url(../img/avt-3.png);
}

.section__partner .partner__block:nth-child(4) > .partner__block--avtr .partner__block--icon {
  background-color: #FFA710;
}

.section__partner .partner__block:nth-child(5) > .partner__block--avtr {
  background-image: url(../img/avt-4.png);
}

.section__partner .partner__block:nth-child(5) > .partner__block--avtr .partner__block--icon {
  background-color: #667DF3;
}

.partner__block--icon {
  border: 5px solid white;
  width: 32px;
  height: 32px;
  position: absolute;
  top: calc(100% - 35px);
  left: calc(100% - 35px);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ideas__block {
  height: 310px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  background-size: cover;
  background-position: center top;
}

.mask {
  position: absolute;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.2;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.ideas__block:nth-child(2) {
  background-image: url(../img/img-5.png);
}

.ideas__block:nth-child(3) {
  background-image: url(../img/img-6.png);
}

.ideas__block:nth-child(4) {
  background-image: url(../img/img-7.png);
  background-position: center right;
}

.ideas__block:nth-child(5) {
  background-image: url(../img/img-8.png);
}

.ideas__block:nth-child(6) {
  background-image: url(../img/img-9.png);
}

.ideas__block:nth-child(7) {
  background-image: url(../img/img-10.png);
}

.ideas__block:nth-child(8) {
  background-image: url(../img/img-11.png);
}

.simple-size {
  width: calc((100% / 3) - 20px);
}

.wide-size {
  width: calc(((100% / 3) * 2) - 20px);
}

footer {
  border-top: 2px solid #FF4E50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 95px;
  width: 100%;
}

.footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px;
}

.footer__info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: calc(100% - 150px);
}

.footer div div {
  margin: 35px 15% 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.footer__info--name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FF4E50;
}

.footer__info--company {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}

.footer__info--company ul {
  margin-top: 10px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__info--company ul li {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}

.footer__info--partners {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}

.footer__info--designed {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
  margin: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info--designed svg {
  margin: 10px 0;
}

@media only screen and (max-width: 768px) {
  .partner__block {
    width: calc((100% / 2) - 20px);
  }
  .section__partner {
    max-width: 490px;
  }
}

@media only screen and (max-width: 520px) {
  .how-works__block {
    width: calc(100% - 20px);
    height: 240px;
    margin: 5px 10px;
  }
  .header__menu--logo {
    display: none;
  }
  .header__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-block {
    margin-top: 30px;
  }
  h2 {
    margin-bottom: 10px;
    padding: 0px 10px;
  }
  .ideas__block {
    width: calc(100% - 20px);
    height: 120px;
    margin: 5px 10px;
  }
  footer {
    margin-top: 35px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__info-container {
    width: 100%;
  }
  .footer .footer__info-container .footer__info--company {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer__info-container .footer__info--company ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer__info-container .footer__info--company ul li {
    margin: 0px 10px;
  }
  .footer .footer__info--designed {
    margin: 5px 0;
  }
  .footer div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer div div {
    margin: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .partner__block {
    width: calc(100% - 20px);
  }
  .button--red, .partner__button,
  .create__input {
    width: calc(100% - 40px);
  }
}
/*# sourceMappingURL=style.css.map */